<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>
    <meta charset="utf-8">
    <title>Accueil</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="style.responsive.css" media="all">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Actor&amp;subset=latin">


    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="script.responsive.js"></script>
<meta name="description" content="Description">
<meta name="keywords" content="Keywords">


<style>.art-content .art-postcontent-0 .layout-item-0 { padding-top: 0px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;  }
.art-content .art-postcontent-0 .layout-item-1 { border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-width:1px;border-color:#9D95E4; color: #111222; background: #EAECF6; padding: 20px;  }
.art-content .art-postcontent-0 .layout-item-2 { padding-top: 10px;padding-right: 20px;padding-bottom: 10px;padding-left: 20px;  }
.ie7 .post .layout-cell {border:none !important; padding:0 !important; }
.ie6 .post .layout-cell {border:none !important; padding:0 !important; }

</style></head>
<body>
<div id="art-main">
<header class="art-header clearfix">


    <div class="art-shapes">
<h1 class="art-headline" data-left="75.39%">
    <a href="#">PodCastMe</a>
</h1>

<div class="art-object1800006215" data-left="0%"></div>
<div class="art-object0" data-left="3.36%"></div>

            </div>
<div class="art-textblock art-object1309420497" data-left="100%">
    <form class="art-search" name="Search" action="javascript:void(0)">
    <input type="text" value="">
    <input type="submit" value="Search" name="search" class="art-search-button">
</form>
</div>
                        
                    
</header>
<nav class="art-nav clearfix">
    <ul class="art-hmenu"><li><a href="index.html" class="active">Accueil</a></li><li><a href="podcasts-2.html">Podcasts</a></li><li><a href="contact.html">Contact</a></li></ul> 
    </nav>
<div class="art-sheet clearfix">
            <div class="art-layout-wrapper clearfix">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content clearfix"><article class="art-post art-article">
                                
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%" >
        <h4>PodCasts les plus populaires!</h4>
        <p style="text-align:center; margin-left: -15px"><img width="850" height="264" alt="" src="images/headerobject.png" class=""></p>
    </div>
    </div>
</div>
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-1" style="width: 100%" >
        <p>Dapibus fusce quam proin quis aliquam dignissim ligula scelerisque. Id pretium aliquam. Ut convallis id nisl. Vitae suspendisse eu ut ligula neque duis eu orci vitae pellentesque amet lacus vel. Rhoncus quam in non. Ut in fringilla feugiat aenean massa. Sapien sem purus nec eget quam nunc tellus. Dapibus eu nam est praesent urna suscipit mauris. Quis quis senectus ante dui ipsum pellentesque posuere commodo eget. Dolor tristique nulla vel mattis felis odio convallis vestibulum enim eget faucibus. Dolor quis mollis enim pharetra mollis nonummy luctus. Feugiat placerat sit fringilla morbi duis enim nisl hendrerit. Dictumst penatibus sit a.</p>
        <p><a href="#" class="art-button">Learn more</a></p>
    </div>
    </div>
</div>
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-2" style="width: 60%" >
        <h4>Hot Destinations</h4>
        <div style="margin-left: 0px">
        <div style="float: left; margin-right: 30px">
        <p><span style="color:rgb(89, 75, 210);">Eros.</span><br>
        <span style="font-size:10px;">Sed dolor sem per.</span></p>
        <p><span style="color:rgb(89, 75, 210);">Ut mi.</span><br>
        <span style="font-size:10px;">Mi justo egestas mi.</span></p>
        <p><span style="color:rgb(89, 75, 210);">Eget.</span><br>
        <span style="font-size:10px;">Vestibulum eleifend.</span></p>
        <p><span style="color:rgb(89, 75, 210);">Rutrum.</span><br>
        <span style="font-size:10px;">Vestibulum in leo.</span></p>
        </div>
        <div style="float: left; margin-right: 30px">
        <p><span style="color:rgb(89, 75, 210);">Vestibulum.</span><br>
        <span style="font-size:10px;">Ut morbi vestibulum.</span></p>
        <p><span style="color:rgb(89, 75, 210);">Quis nunc.</span><br>
        <span style="font-size:10px;">Donec nisl netus ac.</span></p>
        <p><span style="color:rgb(89, 75, 210);">Orlando</span><br>
        <span style="font-size:10px;">Luctus nisi porta.</span></p>
        <p><span style="color:rgb(89, 75, 210);">Quis.</span><br>
        <span style="font-size:10px;">Faucibus duis donec.</span></p>
        </div>
        <div style="float: left; margin-right: 30px">
        <p><span style="color:rgb(89, 75, 210);">Cras.</span><br>
        <span style="font-size:10px;">Nisl et habitant in.</span></p>
        <p><span style="color:rgb(89, 75, 210);">Et in.</span><br>
        <span style="font-size:10px;">Eros senectus donec.</span></p>
        <p><span style="color:rgb(89, 75, 210);">Nullam.</span><br>
        <span style="font-size:10px;">A lobortis dapibus.</span></p>
        <p><span style="color:rgb(89, 75, 210);">Per a.</span><br>
        <span style="font-size:10px;">Cursus fringilla in.</span></p>
        </div>
        </div>
    </div><div class="art-layout-cell layout-item-2" style="width: 40%" >
        <h4>Travel Services</h4>
        <ul>
        <li>Vestibulum ut tortor adipiscing sit.</li>
        <li>Ac platea ac a gravida.</li>
        <li>Posuere pellentesque nisi velit ac.</li>
        <li>Eros vitae ipsum.</li>
        <li>Porttitor dolor pulvinar nunc.</li>
        <li>Leo aenean elit aliquam aenean.</li>
        <li>Purus tortor nullam neque.</li>
        <li>Erat tortor a ac aliquam.</li>
        <li>Nulla viverra praesent eros.</li>
        <li>Mollis tortor rhoncus mollis.</li>
        <li>Orci penatibus mauris.</li>
        </ul>
    </div>
    </div>
</div>
</div>
                                
                </article></div>
                    </div>
                </div>
            </div><footer class="art-footer clearfix">
Master 2 Développement Logiciels
</footer>

    </div>

</div>


</body></html>