<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="style.responsive.css" media="all">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Actor&amp;subset=latin">


    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="script.responsive.js"></script>
<meta name="description" content="Description">
<meta name="keywords" content="Keywords">


</head>
<body>
<div id="art-main">
<header class="art-header clearfix">


    <div class="art-shapes">
<h1 class="art-headline" data-left="75.39%">
    <a href="#">PodCastMe</a>
</h1>

<div class="art-object1800006215" data-left="0%"></div>
<div class="art-object0" data-left="3.36%"></div>

            </div>
<div class="art-textblock art-object1309420497" data-left="100%">
    <form class="art-search" name="Search" action="javascript:void(0)">
    <input type="text" value="">
    <input type="submit" value="Search" name="search" class="art-search-button">
</form>
</div>
                        
                    
</header>
<nav class="art-nav clearfix">
    <ul class="art-hmenu"><li><a href="index.html">Accueil</a></li><li><a href="podcasts-2.html" class="active">Podcasts</a></li><li><a href="contact.html">Contact</a></li></ul> 
    </nav>
<div class="art-sheet clearfix">
            <div class="art-layout-wrapper clearfix">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content clearfix"><article class="art-post art-article">
                                <h2 class="art-postheader">Contacts</h2>
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><p>Turpis et nam nisl blandit dolor purus euismod turpis.  Risus ut ultrices volutpat montes leo adipiscing a turpis leo quam fusce nunc quis phasellus ac mollis mollis. </p><p>Ligula nunc laoreet pellentesque magna lobortis id nonummy sapien. Lorem praesent enim nonummy. Phasellus dolor urna fusce accumsan ac fusce in velit sit aenean.  Varius ligula tellus fusce feugiat jnteger. </p><p><span style="font-weight:bold;">Rutrum hac.</span></p><p>Morbi et vel pellentesque sem.<br>  Principal Ville, Country 12345-6789</p><p>Ultrices luctus et.<br>  Rhoncus sapien sed.</p><p>A. <a href="#">http://www.domain.com<br></a>A. <a href="#">email@domain.com</a></p></div>
                                
                </article></div>
                    </div>
                </div>
            </div><footer class="art-footer clearfix">
Master 2 Développement Logiciels
</footer>

    </div>

</div>


</body></html>