

#art-main
{
   background: #B7BADC url('images/auth/page.jpeg') top center no-repeat scroll;
   margin:0 auto;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}

.art-button
{
   border: 0;
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #7B70DB;
   -webkit-border-radius:11px;
   -moz-border-radius:11px;
   border-radius:11px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.3);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.3);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.3);
   padding:0 15px;
   margin:0 auto;
   height:29px;
}

table, ul.art-hmenu
{
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.art-button
{
   border: 0;
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #7B70DB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.3);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.3);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.3);
   padding:0 10px;
   margin:0 auto;
   height:27px;
}

.art-postcontent,
.art-postheadericons,
.art-postfootericons,
.art-blockcontent,
ul.art-vmenu a 
{
   text-align: left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent p
{
   margin: 12px 0;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover,
.art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover,
.art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover,
.art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover,
.art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover,
.art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover,
.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover,
.art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover,
.art-headline, .art-headline a, .art-headline a:link, .art-headline a:visited, .art-headline a:hover,
.art-slogan, .art-slogan a, .art-slogan a:link, .art-slogan a:visited, .art-slogan a:hover,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
   font-size: 32px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}

.art-postcontent a, .art-postcontent a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #958DE2;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #545BAB;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #6C60D7;
}

.art-postcontent h1
{
   color: #75708F;
   margin-top: 21px;
   margin-bottom: 21px;
   font-size: 32px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h1
{
   margin-top: 21px;
   margin-bottom: 21px;
   font-size: 32px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:hover, .art-postcontent h1 a:visited, .art-blockcontent h1 a, .art-blockcontent h1 a:link, .art-blockcontent h1 a:hover, .art-blockcontent h1 a:visited 
{
   font-size: 32px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h2
{
   color: #75708F;
   margin-top: 19px;
   margin-bottom: 19px;
   font-size: 24px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h2
{
   margin-top: 19px;
   margin-bottom: 19px;
   font-size: 24px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited 
{
   font-size: 24px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h3
{
   color: #545BAB;
   margin-top: 19px;
   margin-bottom: 19px;
   font-size: 19px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h3
{
   margin-top: 19px;
   margin-bottom: 19px;
   font-size: 19px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited 
{
   font-size: 19px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h4
{
   color: #4E3FCF;
   font-size: 24px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h4
{
   font-size: 24px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited 
{
   font-size: 24px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h5
{
   color: #151041;
   margin-top: 26px;
   margin-bottom: 26px;
   font-size: 13px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h5
{
   margin-top: 26px;
   margin-bottom: 26px;
   font-size: 13px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited 
{
   font-size: 13px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h6
{
   color: #32279B;
   margin-top: 35px;
   margin-bottom: 35px;
   font-size: 11px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h6
{
   margin-top: 35px;
   margin-bottom: 35px;
   font-size: 11px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited 
{
   font-size: 11px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-hmenu a, .art-vmenu a, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

body
{
   padding: 0;
   margin:0;
   min-width: 900px;
   color: #1B1D37;
}

.clearfix:before, .clearfix:after {
   content: "";
   display: table;
}

.clearfix:after {
   clear: both;
}

.cleared {
   font: 0/0 serif;
   clear: both;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .art-postcontent li h1, .art-blockcontent li h1 
{
   margin:1px;
} 
li h2, .art-postcontent li h2, .art-blockcontent li h2 
{
   margin:1px;
} 
li h3, .art-postcontent li h3, .art-blockcontent li h3 
{
   margin:1px;
} 
li h4, .art-postcontent li h4, .art-blockcontent li h4 
{
   margin:1px;
} 
li h5, .art-postcontent li h5, .art-blockcontent li h5 
{
   margin:1px;
} 
li h6, .art-postcontent li h6, .art-blockcontent li h6 
{
   margin:1px;
} 
li p, .art-postcontent li p, .art-blockcontent li p 
{
   margin:1px;
}


.art-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.art-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.art-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.art-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.art-object1800006215
{
    display: block;
    left: 0%;
    margin-left: -73px;
    position: absolute;
    top: 190px;
    width: 547px;
    height: 329px;
    background-image: url('images/auth/object1800006215.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 0;
}
.art-object0
{
    display: block;
    left: 3.36%;
    margin-left: -15px;
    position: absolute;
    top: 29px;
    width: 456px;
    height: 471px;
    background-image: url('images/auth/object0.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 1;
}
.art-object109289830 h1, 
.art-object109289830 h2, 
.art-object109289830 h3, 
.art-object109289830 h4, 
.art-object109289830 h5, 
.art-object109289830 h6, 
.art-object109289830 p, 
.art-object109289830 a, 
.art-object109289830 ul, 
.art-object109289830 ol, 
.art-object109289830 li
{
  line-height: 125%;
}

.art-object109289830
{  
  position: absolute;
  top: 162px;
  left: 100%;
  margin-left: -360px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  overflow: hidden;
    background-image: url('images/auth/object109289830.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
    z-index: 2;
  width: 360px;
  height: 250px;
}

.art-object109289830-text
{
font-size: 30px;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-align: left;
vertical-align: middle;
text-shadow: 0px 0px 12px rgba(23, 23, 23, 0.98);
  color: #D6D7EB !important;
  display: table-cell;
  outline-style: none;
  padding: 3px 3px !important;
  word-wrap: break-word;
  height: 244px;
  width: 354px;  
}

.art-textblock ul > li
{
    background-position-y: 8px !important;
}
.art-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 102px;
  left: 82.99%;
  line-height: 100%;
  margin-left: -136px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
}

.art-headline, 
.art-headline a, 
.art-headline a:link, 
.art-headline a:visited, 
.art-headline a:hover
{
font-size: 32px;
font-family: Actor, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-shadow: 0px 0px 12px rgba(50, 39, 155, 0.98);
  padding: 0;
  margin: 0;
  color: #FFFFFF !important;
  white-space: nowrap;
}






.art-header
{
   margin:0 auto;
   position:relative;
   height: 500px;
   background-image: url('images/auth/header.png');
   background-position: center top;
   background-repeat: no-repeat;
}

.responsive .art-header 
{
   background-image: url('images/auth/header.png');
   background-position: center center;
}

.art-header-inner{
   position: relative;
   width: 900px;
   z-index: auto !important;
   margin: 0 auto;
}

.art-header>.widget 
{
   position:absolute;
   z-index:101;
}

.art-sheet
{
   background: #FFFFFF;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   border-radius:10px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   border:2px solid #878CC4;
   margin:-20px auto 0;
   position:relative;
   cursor:auto;
   width: 900px;
   z-index: auto !important;
}

.art-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.art-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.art-content-layout-row 
{
   display: table-row;
}

.art-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

.art-block
{
   margin:7px;
}
div.art-block img
{
   border: none;
   margin: 0;
}

.art-blockheader
{
   background: #7B70DB;
   -webkit-border-radius:10px 10px 0 0;
   -moz-border-radius:10px 10px 0 0;
   border-radius:10px 10px 0 0;
   border:1px solid #3C2EB8;
   padding:12px 7px;
   margin:0 auto 4px;
}
.art-blockheader .t,
.art-blockheader .t a,
.art-blockheader .t a:link,
.art-blockheader .t a:visited, 
.art-blockheader .t a:hover
{
   color: #000000;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   margin: 0 10px 0 5px;
}

.art-blockheader .t:before
{
   content:url('images/auth/blockheadericon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-blockheader .t:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-blockcontent
{
   padding:7px;
   margin:0 auto;
   color: #2A2E55;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}
.art-blockcontent table,
.art-blockcontent li, 
.art-blockcontent a,
.art-blockcontent a:link,
.art-blockcontent a:visited,
.art-blockcontent a:hover
{
   color: #2A2E55;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-blockcontent p
{
   margin: 6px 0;
}

.art-blockcontent a, .art-blockcontent a:link
{
   color: #6C60D7;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
}

.art-blockcontent a:visited, .art-blockcontent a.visited
{
   color: #9FA3D0;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-blockcontent a:hover, .art-blockcontent a.hover
{
   color: #4233CC;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}
.art-block ul>li:before
{
   content:url('images/auth/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -12px;
}
.opera .art-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-block li
{
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 125%;
   color: #383C71;
}

.art-block ul>li, .art-block ol
{
   padding: 0;
}

.art-block ul>li
{
   padding-left: 12px;
}

.art-breadcrumbs
{
   margin:0 auto;
}

a.art-button,
a.art-button:link,
a:link.art-button:link,
body a.art-button:link,
a.art-button:visited,
body a.art-button:visited,
input.art-button,
button.art-button
{
   text-decoration: none;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #FFFFFF;
   margin: 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 27px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.art-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .art-button
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-block select 
{
   width:96%;
}

input.art-button
{
   float: none !important;
}

.art-button.active, .art-button.active:hover
{
   background: #7B70DB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.3);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.3);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.3);
   padding:0 10px;
   margin:0 auto;
}
.art-button.active, .art-button.active:hover {
   color: #131426 !important;
}

.art-button.hover, .art-button:hover
{
   background: #7B70DB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.3);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.3);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.3);
   padding:0 10px;
   margin:0 auto;
}
.art-button.hover, .art-button:hover {
   color: #000000 !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   background: #F9FAFB;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   width: 100%;
   padding: 8px 0;
   color: #282C52 !important;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
input.art-error, textarea.art-error
{
   background: #F9FAFB;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.art-error, textarea.art-error {
   color: #282C52 !important;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.art-search input[type="text"]
{
   background: #F9FAFB;
   border-radius: 0;
   margin:0 auto;
   width: 100%;
   padding: 0 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #282C52 !important;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.art-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.art-search input
{
   top:0;
   right:0;
}

form.art-search>input {
   bottom:0;
   left:0;
   vertical-align: middle;
}
 
form.art-search input[type="submit"]
{
   background: #9D95E4;
   margin:0 auto;
   color: #2A2183 !important;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position:absolute;
   display:block;
   left: auto;
   border: 0;
   top: 0;
   bottom: 0;
   right: 	0;
}

label.art-checkbox:before
{
   background: #F9FAFB;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.art-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
}

.art-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.art-checkbox.active:before
{
   background: #B4B2C2;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-checkbox.hovered:before
{
   background: #D8D7E0;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-radiobutton:before
{
   background: #F9FAFB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.art-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
}

.art-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.art-radiobutton.active:before
{
   background: #B4B2C2;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.art-radiobutton.hovered:before
{
   background: #D8D7E0;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

.art-post
{
   padding:10px;
   margin:5px;
}
a img
{
   border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer img
{
   margin: 0 0 0 0;
}

.art-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.art-article table, table.art-article
{
   border-collapse: collapse;
   margin: 1px;
}

.art-post .art-content-layout-br
{
   height: 0;
}

.art-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 0 0 0 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.art-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.art-postheader
{
   color: #2A2E55;
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 24px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postheader a, 
.art-postheader a:link, 
.art-postheader a:visited,
.art-postheader a.visited,
.art-postheader a:hover,
.art-postheader a.hovered
{
   font-size: 24px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
}

.art-postheader a, .art-postheader a:link
{
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #7064D8;
}

.art-postheader a:visited, .art-postheader a.visited
{
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #7064D8;
}

.art-postheader a:hover,  .art-postheader a.hovered
{
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #958DE2;
}

.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #5E65B0;
}

.art-postheadericons
{
   display:inline-block;
   padding: 1px;
}

.art-postheadericons a, .art-postheadericons a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #524F64;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-decoration: none;
   color: #524F64;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-decoration: underline;
   color: #3D2FBC;
}

.art-postpdficon:before
{
   content:url('images/auth/postpdficon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-postpdficon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postprinticon:before
{
   content:url('images/auth/postprinticon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postprinticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postemailicon:before
{
   content:url('images/auth/postemailicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-postemailicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   content:url('images/auth/postbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postcontent ul>li:before, .opera   .art-post ul>li:before, .opera   .art-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #2A2E55;
   margin: 0 0 0 26px;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li, .art-postcontent ol, .art-post ol, .art-textblock ol
{
   padding: 0;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   padding-left: 12px;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   margin-left: -12px;
}

.art-postcontent ol, .art-post ol, .art-textblock ol, .art-postcontent ul, .art-post ul, .art-textblock ul
{
   margin: 1em 0 1em 26px;
}

.art-postcontent li ol, .art-post li ol, .art-textblock li ol, .art-postcontent li ul, .art-post li ul, .art-textblock li ul
{
   margin: 0.5em 0 0.5em 26px;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   margin: 0 0 0 0;
}

.art-postcontent ol>li, .art-post ol>li, .art-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #CAC6F1 url('images/auth/postquote.png') no-repeat scroll;
   padding:15px 15px 15px 52px;
   margin:10px 10px 10px 50px;
   color: #202341;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .art-postcontent blockquote a, .art-blockcontent blockquote a, .art-footer blockquote a,
blockquote a:link, .art-postcontent blockquote a:link, .art-blockcontent blockquote a:link, .art-footer blockquote a:link,
blockquote a:visited, .art-postcontent blockquote a:visited, .art-blockcontent blockquote a:visited, .art-footer blockquote a:visited,
blockquote a:hover, .art-postcontent blockquote a:hover, .art-blockcontent blockquote a:hover, .art-footer blockquote a:hover
{
   color: #202341;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.art-postcontent blockquote p,
.art-blockcontent blockquote p,
.art-footer blockquote p
{
   margin: 0;
   margin: 2px 0 2px 15px;
}

.art-postfootericons,
.art-postfootericons a,
.art-postfootericons a:link,
.art-postfootericons a:visited,
.art-postfootericons a:hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #5E65B0;
}

.art-postfootericons
{
   display:inline-block;
   padding: 1px;
}

.art-postfootericons a, .art-postfootericons a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #524F64;
}

.art-postfootericons a:visited, .art-postfootericons a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #524F64;
}

.art-postfootericons a:hover, .art-postfootericons a.hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #3D2FBC;
}

.art-footer
{
   background: #3D3A4A;
   -webkit-border-radius:0 0 8px 8px;
   -moz-border-radius:0 0 8px 8px;
   border-radius:0 0 8px 8px;
   padding:15px;
   margin:0 auto;
   position: relative;
   color: #C8C6D2;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-align: center;
}

.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover,
.art-footer td, 
.art-footer th,
.art-footer caption
{
   color: #C8C6D2;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-footer p 
{
   padding:0;
   text-align: center;
}

.art-footer a,
.art-footer a:link
{
   color: #958DE2;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
}

.art-footer a:visited
{
   color: #878CC4;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer a:hover
{
   color: #7D83BF;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
}

.art-footer img
{
   border: none;
   margin: 0;
}

.art-footer li
{
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   line-height: 125%;
   color: #DDDEEE;
}

.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #3D3A4A;
}

.art-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #2C3059;
}

img.art-lightbox
{
   cursor: pointer;
}

#art-lightbox-bg *
{
   padding: 0;
   margin: 0;
}

div#art-lightbox-bg
{
   top: 0;
   left: 0;
   width: 100%;
   position: absolute;
   height: 100%;
   background-color: #000;
   opacity: 0.8;
   filter: alpha(opacity=80);
   z-index: 9999;
}

img.art-lightbox-image
{
   -webkit-transition: opacity 350ms ease-in-out;
   -moz-transition: opacity 350ms ease-in-out;
   -o-transition: opacity 350ms ease-in-out;
   -ms-transition: opacity 350ms ease-in-out;
   transition: opacity 350ms ease-in-out;
   cursor: pointer;
   z-index: 10000;
   position: fixed;
   border: 6px solid #fff;
   border-radius: 3px;
   opacity: 0;
   filter: alpha(opacity=0);
}

img.art-lightbox-image.active
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.lightbox-error
{
   position: fixed;
   background: #fff;
   z-index: 100;
   opacity: 0.95;
   padding: 20px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   width: 300px;
   height: 80px;
}

.loading
{
   position: fixed;
   background: #fff url('images/auth/preloader-01.gif') center center no-repeat;
   width: 32px;
   height: 32px;
   z-index: 10100;
   opacity: 0.5;
   padding: 10px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
}

.arrow
{
   height: 100px;
   width: 82px;
   z-index: 10003;
   position: fixed;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.arrow.left
{
   left: 9px;
}
.arrow.right
{
   right: 9px;
}

.arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.arrow.disabled 
{
   display: none;
}

.arrow-t, .arrow-b
{
   height: 6px;
   width: 30px;
   left: 26px;
   background-color: #fff;
   position: relative;
   border-radius: 3px;
}

.arrow-t
{
   top: 38px;
}

.arrow-b
{
   top: 50px;
}

.close
{
   width: 22px;
   height: 22px;
   position: fixed;
   top: 30px;
   right: 39px;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.close .cw, .close .ccw
{
   position: absolute;
   top: 8px;
   left: -4px;
   width: 30px;
   height: 6px;
   background-color: #fff;
   border-radius: 3px;
}

.cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.close-alt, .arrow-right-alt, .arrow-left-alt 
{
   display: none;
   color: #fff;
   font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt {
   display: block;
}
.ie8 .cw, .ie8 .ccw {
   display: none;
}

.art-content-layout .art-content
{
   margin:0 auto;
}

/* Begin Additional CSS Styles */
.art-blockheader .t, .art-vmenublockheader .t {white-space: nowrap;}
/* End Additional CSS Styles */
